spring:
  profiles:
    active: test
---
spring:
  config:
    activate:
      on-profile: local
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
handlebars:
  suffix: .html
  enabled: true
---
spring:
  config:
    activate:
      on-profile: test
  jpa:
    properties:
      hibernate:
        ddl-auto: create-drop
        show_sql: true
        format_sql: true
    generate-ddl: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/subway?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: 9502
handlebars:
  suffix: .html
  enabled: true